{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}
<main>
    <h1>{{ posts|length }} Posts:</h1>
    {% if posts|length > 0 %}
        <ol>
            {% for post in posts %}
                <li>
                    <strong>{{ post.id }}:</strong> <em>{{ post.displayRelativeTime }} ({{ post.datetime|date('F j Y g:i:sa') }})</em>
                    <br>
                    {{ post.text }} (<a href="{{ url('draft_post', {id: post.id}) }}">Edit</a>)
                    {% if post.mediaAttachments|length > 0 %}
                    <br>
                        {{ post.mediaAttachments|length }} attachment(s):
                        <ul>
                            {% for attachment in post.mediaAttachments %}
                                <li>
                                    {{ attachment.id }}: {{ attachment.title }}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <br>
                    <a href="{{ url('view_post', {id: post.id}) }}">View</a>
                    <a href="{{ url('delete_post', {id: post.id}) }}">Delete</a>
                </li>
            {% endfor %}
        </ol>
    {% else %}
        no posts found
    {% endif %}
    
    
</main>
{% endblock %}
